[submodule "submodules/mobilestack-runtime"]
	path = submodules/mobilestack-runtime
	url = https://github.com/mobilestack-xyz/mobilestack-runtime.git
[submodule "submodules/hooks"]
	path = submodules/hooks
	url = https://github.com/divvi-xyz/hooks.git
[submodule "submodules/divvi-mobile"]
	path = submodules/divvi-mobile
	url = https://github.com/divvi-xyz/divvi-mobile.git
[submodule "submodules/divvi-protocol-v0"]
	path = submodules/divvi-protocol-v0
	url = https://github.com/divvi-xyz/divvi-protocol-v0.git
