[submodule "submodules/mobilestack-runtime"]
	path = submodules/mobilestack-runtime
	url = https://github.com/mobilestack-xyz/mobilestack-runtime.git
[submodule "submodules/hooks"]
	path = submodules/hooks
	url = https://github.com/mobilestack-xyz/hooks.git
